.top{ 
    .leftLogo {
        width: 2.84rem;
        height:0.57rem;
        position: absolute;
        top:0.3rem;
        left:0.2rem;
    }
    .topText {
        width: 3.94rem;
        height:1.88rem;
        position: absolute;
        top:0.35rem;
        left:12.64rem;
    }
    .returnTo {
        width: 1.27rem;
        height:0.5rem;
        position: absolute;
        top:1rem;
        left:0.98rem;
    }
    .maskStar {
        width: 1.43rem;
        height:2.74rem;
        position: absolute;
        right:1.2rem;
    }
    .columns {
        width: 2.45rem;
        height:3.75rem;
        position: absolute;
        bottom:0;
        left:2.8rem;
    }
}