.index {
    overflow: hidden; 
    height: 100%;
    background-color: #f7f7f8;
    
    .content{
        position: relative;
        margin-right:1.2rem;
        height:100%;
        .leftLogo {
            width: 2.84rem;
            height:0.57rem;
            position: absolute;
            top:0.3rem;
            left:0.2rem;
        }
        .leftMain {
            width: 8.64rem;
            height:7.60rem;
            position: absolute;
            top:0;
            left:0;
        }

        .mainText {
            width: 4.92rem;
            height:2.41rem;
            position: absolute;
            top:3.66rem;
            left:10.75rem;
        }
        .columns {
            width: 2.45rem;
            height:3.75rem;
            position: absolute;
            bottom:0;
            left:6.30rem;
        }

        .startButton {
            position: absolute;
            top:6rem;
            left:12.43rem;
            width: 3.39rem;
            height:1.38rem;
        }
    }
}